.cart-item {
  display: flex;
  width: 100%;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-container table {
  margin-top: 1em;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.cart-container th,
.cart-container td {
  padding: 8px;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .cart-container table thead {
    display: none;
  }
  .cart-container table,
  .cart-container table tbody,
  .cart-container table tr,
  .cart-container table td {
    display: block;
    width: 100%;
  }

  .cart-container table tr td {
    border: 1px solid black;
    border-bottom: none; /* tylko dolna granica */
    padding: 8px;
    text-align: left;
    position: relative;
    padding-left: 50%;
  }

  .cart-container table tr:last-child td:last-child {
    border-bottom: 1px solid black;
  }

  .cart-container table tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 8px;
    top: 8px;
    font-weight: bold;
    color: #333;
    text-align: left;
    white-space: nowrap;
  }
}

.cart-quantity-button {
  margin: 0 10px;
  padding: 5px 10px;
  color: white;
  border: 1px solid #007bff;
  border-radius: 3px;
  cursor: pointer;
}
.cart-item-quantity-button:hover {
  background-color: #0056b3;
}
